<div class="container">

      <div class="starter-template">
        <h1>What's your weakness?</h1>
        <p class="lead">Find out what you need to work on by completing this FREE Use of English test.<br> Type in your name to start.</p>
        <div class="form-group">
            <label for="user_name">Your Name</label>
            <input type="text" class="form-control" id="user_name" placeholder="What's your name?">
            <br>
            <button class="btn btn-primary" type="submit">Start the test</button>
        </div>
      </div>

    </div><!-- /.container -->

</div>

